body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #222;
  padding-top: 80px;
}

.navbar.transparent-navbar {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
}

.hero-bg {
  padding: 60px 40px;
}

.model-viewer {
  width: 100%;
  height: 500px;
  background: transparent;
  border-radius: 16px;
  position: relative;
}

.card-slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card-slider {
  display: flex;
  overflow: hidden;
  gap: 20px;
  transition: transform 0.3s ease;
}

.drink-card {
  width: 180px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  padding: 0;
}

.drink-card:hover {
  transform: translateY(-5px);
  border-radius: 20px;
}

.drink-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 10px;
  transition: transform 0.3s ease;
  border-radius: 0;
}
.lays-logo {
  transform: scale(1.65);
}

.drink-logo:hover {
  transform: scale(1.05);
}

.drink-card.active {
  border: 2px solid #dc3545;
  box-shadow: 0 0 12px rgba(220, 53, 69, 0.4);
  background-color: #fff;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.nav-btn {
  background: #fff;
  border: none;
  font-size: 20px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.nav-btn:hover {
  background: #eee;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }

  .model-viewer {
    height: 300px;
  }

  .card-slider-wrapper {
    flex-direction: column;
  }

  .card-slider {
    flex-direction: row;
    overflow-x: auto;
  }
}
